body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .customtitle {
      font-size: 45px;
    }
    .customoffer {
        font-size: 30px;
      }
}

@media screen and (max-width: 568px) {
    .customoffer {
        font-size: 20px;
      }
}