body{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .customtitle {
      font-size: 45px;
    }
    .customoffer {
        font-size: 30px;
    }
    .customlivre {
      font-size: 36px;
    }
    .customeimage {
      width: 250px;
      height: 250px;
    }
    .customsolution {
      width: 550px;
      height: 600px;
    }
}

@media screen and (max-width: 568px) {
    .customoffer {
        font-size: 20px;
    }
    .customlivre {
      font-size: 26px;
    }
    .customeimage {
      width: 200px;
      height: 200px;
    }
    .customsolution {
      width: 350px;
      height: 350px;
    }
}